<div class="fixed inset-x-0 inset-y-0 bg-black/40 flex items-center justify-center py-5">
    <div class="p-8 min-w-96 w-full max-w-lg bg-[var(--color-1)] shadow-md max-h-full overflow-y-auto">
        <div class="flex items-center justify-between">
            <div class="text-lg text-white font-bold">Shortcuts Menu</div>
            <ng-icon name="jamClose" class="cursor-pointer" (click)="close()"></ng-icon>
        </div>

        <div class="mt-4">
            @for (shortcut of shortcuts; track shortcut.id) {
                <div class="flex items-center justify-between text-xs text-white space-x-4 my-2">
                    <div class="font-bold">
                        {{ shortcut.name }}
                    </div>
                    <div class="border-2 rounded-md leading-6 px-2" [innerHTML]="shortcut.key"></div>
                </div>
            }
        </div>
    </div>
</div>