<div class="flex items-start justify-between">
    <div>
        <div class="flex items-start font-bold text-white rounded-md min-w-64 max-w-fit min-h-12 text-4xl" [ngStyle]="{ backgroundColor: isLoading ? 'var(--secondary-dark)' : 'unset' }">
            {{ isLoading || !fakePlaylist ? "" : fakePlaylist.name }}
            @if (!isLoading) {
                <div class="ml-5 cursor-pointer flex justify-center items-center h-12 w-12 rounded-full bg-[var(--primary-red)]" (click)="startAtSong(0)">
                    <ng-icon name="jamPlay" size="2rem"></ng-icon>
                </div>
            }
        </div>
        <div class="mt-2 flex text-slate-400 text-xs rounded-md min-w-32 max-w-fit h-5" [ngStyle]="{ backgroundColor: isLoading ? 'var(--secondary-dark)' : 'unset' }">
            @if (!isLoading) {
                <ng-icon name="jamMic" class="mr-1" size="1rem"></ng-icon>
                @if (listOfArtists.trim().length) {
                    <span>
                        {{ listOfArtists }}
                    </span>
                } @else {
                    <span class="italic">
                        No Artists
                    </span>
                }
            }
        </div>
        <div class="mt-2 flex text-slate-400 text-xs rounded-md min-w-32 max-w-fit h-5 space-x-4" [ngStyle]="{ backgroundColor: isLoading ? 'var(--secondary-dark)' : 'unset' }">
            @if (!isLoading && fakePlaylist) {
                <div class="flex items-center">
                    <ng-icon name="jamMusic" class="mr-1" size="1rem"></ng-icon>
                    {{ fakePlaylist.songs ? (fakePlaylist.songs.length + " song" + (fakePlaylist.songs.length == 1 ? "" : "s")) : 0  }}
                </div>
                <div class="flex items-center">
                    <ng-icon name="jamClock" class="mr-1" size="1rem"></ng-icon>
                    {{ fakePlaylist.totalDuration || 0 | durationToString }}
                </div>
            }
        </div>
    </div>
    <app-user-pill></app-user-pill>
</div>
<div class="mt-10">
    <div class="flex items-center text-slate-400 text-xs border-b-2 border-slate-600 py-2 px-2">
        <div class="w-1/3">Title</div>
        <div class="w-1/3">Artist</div>    
        <div class="w-1/3 text-right">Duration</div>
    </div>
    @if (isLoading) {
        <div class="flex justify-center py-20">
            <app-loader></app-loader>
        </div>
    } @else {
        <app-song-list class="mt-2" [playlist]="fakePlaylist"></app-song-list>
    }
</div>