<div class="h-28 bg-[var(--color-1)]" [ngStyle]="{ backgroundImage: 'url(\'' + activeSong?.image + '\')' }">
    <div class="absolute inset-0 backdrop-blur-md blur-md shadow-sm"></div>
    <div class="w-full h-full flex items-center justify-between px-10 py-4 bg-black/60">
        <div class="w-1/3 flex items-center">
            <div class="flex items-center">
                <div class="h-20 w-20 rounded-md bg-[var(--color-1)]" [ngStyle]="{ backgroundImage: 'url(\'' + activeSong?.image + '\')' }"></div>
                <div class="ml-4">
                    <div class="text-slate-200 text-sm">{{ activeSong?.name }}</div>
                    <div class="text-slate-400 text-xs">{{ activeSong?.artist }}</div>
                </div>
            </div>
            @if (activeSong?.hasOwnProperty('isLiked')) {
                <div class="cursor-pointer ml-6 leading-5">
                    @if (activeSong?.isLiked) {
                        <ng-icon name="jamHeartF" (click)="unlike()" color="var(--color-7)"></ng-icon>
                    } @else {
                        <ng-icon name="jamHeart" (click)="like()"></ng-icon>
                    }
                </div>
            }
        </div>
        <div class="w-1/3">
            <app-playback-control
                #playbackControl
                [currentTime]="currentTime"
                [songDuration]="activeSong?.duration || 0"
                (play)="onPlay()"
                (pause)="onPause()"
                (next)="onNext()"
                (prev)="onPrev()"
                (shuffle)="onShuffle($event)"
                (repeat)="onRepeat($event)"
                (seek)="onSeek($event)"
            ></app-playback-control>
        </div>
        <div class="w-1/3 flex justify-end">
            <app-volume-control [volume]="volume" (volume)="onChangeVolume($event)" [mute]="isMuted" (mute)="onChangeMute($event)"></app-volume-control>
        </div>
    </div>
</div>