<div class="flex items-start justify-between">
    <div class="flex items-end">
        <div class="w-44 h-44 rounded-md bg-no-repeat bg-center bg-cover bg-[var(--secondary-dark)]" [ngStyle]="{ backgroundImage: 'url(\'' + playlist?.image + '\')' }"></div>
        <div class="ml-4">
            <div class="flex items-end font-bold text-white rounded-md min-w-64 max-w-fit min-h-16 text-6xl" [ngStyle]="{ backgroundColor: isLoading ? 'var(--secondary-dark)' : 'unset' }">
                <span (click)="openEditing()" class="cursor-pointer">
                    {{ isLoading || !playlist ? "" : playlist.name }}
                </span>
                @if (!isLoading) {
                    <div class="ml-5 cursor-pointer flex justify-center items-center h-12 w-12 rounded-full bg-[var(--primary-red)]" (click)="startAtSong(0)">
                        <ng-icon name="jamPlay" size="2rem"></ng-icon>
                    </div>
                    <div #moreButton class="ml-5 cursor-pointer" (click)="toggleMore()">
                        <ng-icon name="jamMoreHorizontalF" size="1.5rem"></ng-icon>
                        @if (moreIsOpen) {
                            <div class="absolute top-full left-0 mt-2 w-32 bg-[var(--secondary-dark)] rounded-md shadow-md z-10">
                                <a class="py-2 text-xs px-4 flex items-center cursor-pointer font-normal hover:font-bold" (click)="openDeleting()">
                                    <ng-icon name="jamTrashAlt" class="mr-2" />
                                    Delete
                                </a>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="mt-2 flex text-slate-400 text-xs rounded-md min-w-32 max-w-fit h-5" [ngStyle]="{ backgroundColor: isLoading ? 'var(--secondary-dark)' : 'unset' }">
                @if (!isLoading) {
                    <ng-icon name="jamMic" class="mr-1" size="1rem"></ng-icon>
                    @if (listOfArtists.trim().length) {
                        <span>
                            {{ listOfArtists }}
                        </span>
                    } @else {
                        <span class="italic">
                            No Artists
                        </span>
                    }
                }
            </div>
            <div class="mt-2 flex text-slate-400 text-xs rounded-md min-w-32 max-w-fit h-5 space-x-4" [ngStyle]="{ backgroundColor: isLoading ? 'var(--secondary-dark)' : 'unset' }">
                @if (!isLoading && playlist) {
                    <div class="flex items-center">
                        <ng-icon name="jamMusic" class="mr-1" size="1rem"></ng-icon>
                        {{ playlist.songs ? (playlist.songs.length + " song" + (playlist.songs.length == 1 ? "" : "s")) : 0  }}
                    </div>
                    <div class="flex items-center">
                        <ng-icon name="jamClock" class="mr-1" size="1rem"></ng-icon>
                        {{ playlist.totalDuration || 0 | durationToString }}
                    </div>
                }
            </div>
        </div>
    </div>
    <app-user-pill></app-user-pill>
</div>
<div class="mt-10">
    <div class="flex items-center text-slate-400 text-xs border-b-2 border-slate-600 py-2 px-2">
        <div class="w-1/3">Title</div>
        <div class="w-1/3">Artist</div>    
        <div class="w-1/3 text-right">Duration</div>
    </div>
    @if (isLoading) {
        <div class="flex justify-center py-20">
            <app-loader></app-loader>
        </div>
    } @else {
        <app-song-list class="mt-2" [playlist]="playlist"></app-song-list>
    }
</div>

@if (playlist) {
    <app-edit-playlist *ngIf="isEditing" [playlist]="playlist" (save)="updatePlaylist($event)" (close)="closeEditing()"></app-edit-playlist>
    <app-delete-playlist *ngIf="isDeleting" [playlistId]="playlist.id" (delete)="deletedPlaylist()" (close)="closeDeleting()"></app-delete-playlist>
}