<div class="min-h-screen flex">
    <div class="hidden md:block min-w-72">
        <app-sidebar></app-sidebar>
    </div>
    <div class="w-full">
        <div class="pt-6 pb-[4.5rem] px-6 md:py-8 md:px-10 overflow-y-auto" [ngStyle]="{ maxHeight: hasSong ? 'calc(100vh - 7rem)' : '100vh' }">
            <router-outlet></router-outlet>
        </div>
        @if (showingQueue) {
            <app-song-queue class="fixed right-0 top-0 bottom-[7rem] left-[18rem] z-10"></app-song-queue>
        }
        @if (hasSong) {
            <app-music-player class="fixed right-0 bottom-0 left-[18rem] z-10"></app-music-player>
        }
    </div>
    <div class="md:hidden z-20">
        <app-bottombar></app-bottombar>
    </div>
</div>  