<div class="max-h-full">
    <div class="flex items-start justify-between text-slate-200">
        <app-song-searcher></app-song-searcher>
        <app-user-pill></app-user-pill>
    </div>
    <div class="mt-12">
        <app-most-played-section></app-most-played-section>
        <div class="mt-8 lg:mt-12 block lg:flex items-start lg:space-x-8">
            <div class="lg:w-1/2">
                <app-liked-songs-section></app-liked-songs-section>
            </div>
            <div class="mt-8 lg:mt-0 lg:w-1/2">
                <app-playlists-section></app-playlists-section>
            </div>
        </div>
    </div>
</div>