<div class="max-h-full">
    <div class="flex items-center justify-between text-slate-200">
        <form (ngSubmit)="onSearch()">
            <label class="relative block">
                <span class="sr-only">Search</span>
                <span class="absolute inset-y-0 left-0 flex items-center pl-4 z-10">
                    <ng-icon name="jamSearch" />
                </span>
                <input class="bg-color-6 rounded-full py-2 px-4 pl-12 text-sm focus-within:outline-none border-2 border-transparent focus:border-[var(--color-7)] placeholder:text-slate-400 placeholder:text-sm ease-in-out transition-all"
                    placeholder="Search for anything..."
                    autocomplete="off"
                    type="text"
                    name="search"
                    [(ngModel)]="searchText"
                />
            </label>
        </form>
        <app-user-pill></app-user-pill>
    </div>
    <div class="mt-12">
        <div class="text-xl font-bold text-white tracking-wide">
            Most Played
        </div>
        <div class="mt-6">
            <div class="flex space-x-4">
                @if (mostPlayedLoading) {
                    <div class="flex justify-center py-20 w-full">
                        <app-loader></app-loader>
                    </div>
                } @else {
                    @for (song of myMostPlayedSongs; track song.id) {
                        <div class="cursor-pointer" (click)="playSong(song)">
                            <div class="bg-no-repeat bg-center bg-cover w-36 h-36 bg-[var(--color-1)] rounded-md" [ngStyle]="{ backgroundImage: 'url(\'' + song.image + '\')' }"></div>
                            <div class="text-center mt-2">
                                <div class="text-slate-200 text-sm font-bold">{{ song.name }}</div>
                                <div class="text-slate-500 text-xs">{{ song.artist }}</div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="mt-12 flex items-start space-x-8">
            <div class="w-2/5">
                <div class="flex items-center justify-between">
                    <div class="text-xl font-bold text-white tracking-wide">
                        Liked Songs
                    </div>
                    <a class="text-white underline" routerLink="/likes">See all</a>
                </div>
                <div class="mt-4">
                    @if (likesLoading) {
                        <div class="flex justify-center py-20 w-full">
                            <app-loader></app-loader>
                        </div>
                    } @else {
                        @for (song of (likedSongs | slice:0:4); track song.id) {
                            <div class="flex items-center py-2 px-2 hover:bg-slate-700 transition ease-in-out cursor-pointer" (click)="playSong(song)">
                                <div class="bg-no-repeat bg-center bg-cover w-10 h-10 bg-[var(--color-1)] rounded-md" [ngStyle]="{ backgroundImage: 'url(\'' + song.image + '\')' }"></div>
                                <div class="ml-4">
                                    <div class="text-slate-200 text-xs">
                                        {{ song.name }}
                                    </div>
                                    <div class="text-slate-400 text-[0.6rem]">
                                        {{ song.artist }}
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="w-3/5">
                <div class="flex items-center justify-between">
                    <div class="text-xl font-bold text-white tracking-wide">
                        Playlists
                    </div>
                    <a class="text-white underline" routerLink="/library">See all</a>
                </div>
                <div class="mt-4">
                    <div class="flex space-x-4">
                        @if (playlistsLoading) {
                            <div class="flex justify-center py-20 w-full">
                                <app-loader></app-loader>
                            </div>
                        } @else {
                            @for (playlist of (myPlaylists | slice:0:3); track playlist.id) {
                                <div class="cursor-pointer" (click)="playPlaylist(playlist)">
                                    <div class="bg-no-repeat shadow-sm bg-center bg-cover w-48 h-48 bg-[var(--color-1)] rounded-md" [ngStyle]="{ backgroundImage: 'url(\'' + playlist.image + '\')' }"></div>
                                    <div class="mt-2">
                                        <div class="text-slate-200 text-sm font-bold">{{ playlist.name }}</div>
                                        <div class="text-slate-500 text-xs">{{ (playlist?.totalDuration || 0) | durationToString }}</div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>