<div class="fixed inset-x-0 inset-y-0 bg-black/40 flex items-center justify-center py-5">
    <div class="p-8 w-full max-w-md bg-[var(--primary-dark)] shadow-md max-h-full overflow-y-auto">
        <div class="flex items-center justify-between">
            <div class="text-lg text-white font-bold">Delete Playlist</div>
            <ng-icon name="jamClose" class="cursor-pointer" (click)="close()"></ng-icon>
        </div>

        <div class="mt-4">
            <div class="bg-[var(--primary-dark)] shadow-md flex items-center flex-col">
                <div class="mt-6 space-y-4 w-full text-md text-white flex flex-col items-center italic">
                    Are you sure you want to delete this playlist?
                </div>
                <div class="flex items-center justify-between mt-10 w-full">
                    <button class="text-white rounded-sm border-2 border-[var(--primary-red)] hover:bg-[var(--primary-red)] px-10 leading-10 transition ease-in-out cursor-pointer"
                        (click)="close()"
                        [ngStyle]="isSaving ? { background: 'var(--primary-gray)' } : {}"
                        [disabled]="isSaving"
                    >Cancel</button>
                    <button class="text-white rounded-sm bg-[var(--primary-red)] px-10 leading-10 transition ease-in-out cursor-pointer"
                        (click)="onConfirm()"
                        [ngStyle]="isSaving ? { background: 'var(--primary-gray)' } : {}"
                        [disabled]="isSaving"
                    >{{ isSaving ? "Deleting..." : "Delete" }}</button>
                </div>
            </div>
        </div>
    </div>
</div>