<div #pill class="bg-color-7 rounded-full py-2 pl-3 pr-4 text-sm transition flex items-center cursor-pointer" (click)="toggleDropdown()">
    @if (user && user.image) {
        <div class="inline-block bg-cover bg-no-repeat bg-center h-5 w-5 rounded-full mr-2" [ngStyle]="{ backgroundImage: 'url(\'' + user.image + '\')' }"></div>
    } @else {
        <ng-icon name="jamUserCircle" class="mr-2" />
    }
    {{ user ? user.name : "User" }}
    @if (isActive) {
        <div class="absolute top-full right-0 mt-2 w-32 bg-[var(--color-5)] rounded-md shadow-md z-10">
            <a class="py-2 text-xs px-4 flex items-center cursor-pointer hover:font-bold" routerLink="/settings">
                <ng-icon name="jamCog" class="mr-2" />
                Settings
            </a>
            <a class="py-2 text-xs px-4 flex items-center cursor-pointer hover:font-bold" (click)="signout()">
                <ng-icon name="jamLogOut" class="mr-2" />
                Logout
            </a>
        </div>
    }
</div>
