@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('./assets/scss/Woodwarrior-Regular.scss');

.woodwarrior {
    font-family: 'Woodwarrior', sans-serif;
}

* {
    position: relative;
    box-sizing: border-box;
    &:focus-visible {
        outline: 1px solid var(--primary-red);
        outline-offset: 1px;
    }
}

:root {
    --primary-dark: #241F21;
    --secondary-dark: #2C2729;
    --primary-gray: #827f80;
    --primary-light: #F4F3EE;
    --primary-red: #AD3836;
}

body {
    background-color: var(--primary-dark);
}